<%- include('partials/header.ejs') %>

    <div class="container">

        <div class="menu-cards" id="menu-cards">

            <% data.forEach((card)=> { %>

                <div class="menu-card" data-card="<%= card.meal_id %>" data-new="no" id="testCard"
                    data-meal-ID="<%= card.meal_id %>">
                    <form action="#">
                        <div class="save-button">
                            Save
                        </div>
                        <div class="input-group">
                            <input data-original-entry="<%= card.date %>" type="date" id="card-date-<%= card.meal_id %>"
                                class="card-input" placeholder=" " autocomplete="off" data-type="date"
                                value="<%= card.date %>">
                            <label for="card-date-<%= card.meal_id %>" class="card-label">Date
                            </label>
                        </div>

                        <div class="form-group">
                            <span class="tom-home">Will Tom be home?</span>
                            <div class="input-group slider">
                                <% if (card.tom_home==true) { %>
                                    <input data-original-entry="" type="checkbox"
                                        id="card-tom-home-checkbox-<%= card.meal_id %>" class="card-input"
                                        placeholder=" " autocomplete="off" data-type="homeOrNo">
                                    <% } %>
                                        <% if (card.tom_home==false) {%>
                                            <input data-original-entry="" checked type="checkbox"
                                                id="card-tom-home-checkbox-<%= card.meal_id %>" class="card-input"
                                                placeholder=" " autocomplete="off" data-type="homeOrNo">
                                            <% } %>

                                                <label for="card-tom-home-checkbox-<%= card.meal_id %>" class="">
                                                </label>
                            </div>

                            <div class="input-group">
                                <input data-original-entry="<%= card.time_home %>" type="text"
                                    id="card-time-home-<%= card.meal_id %>" class="card-input" placeholder=" "
                                    autocomplete="off" data-type="timeOff" value="<%= card.time_home %> ">
                                <label for="card-time-home-<%= card.meal_id %>" class="card-label">Time
                                </label>
                            </div>

                        </div>


                        <div class="input-group whole-width">
                            <input data-original-entry="<%= card.conflicts %>" type="text"
                                id="card-other-activities-<%= card.meal_id %>" class="card-input" placeholder=" "
                                autocomplete="off" data-type="other-activities" value="<%= card.conflicts %>">
                            <label for="card-other-activities-<%= card.meal_id %>" class="card-label">Conflicts
                                (gymnastics,
                                volleyball)...
                            </label>
                        </div>

                        <div class="input-group whole-width">
                            <input data-original-entry="<%= card.entree %>" value="<%= card.entree %>" type="text"
                                id="card-meal-<%= card.meal_id %>" class="card-input" placeholder=" " autocomplete="off"
                                data-type="meal">
                            <label for="card-meal-<%= card.meal_id %>" class="card-label">Entree
                            </label>
                        </div>

                        <div id="card-sides-<%= card.meal_id %>" class="card-sides">
                            <% let sideNumber=0 %>
                                <% if (card.sides.length> 0) { %>
                                    <% Array.from(card.sides).forEach((side, index)=> { %>
                                        <% sideNumber ++ %>
                                            <div class="input-group whole-width close-top-margin">

                                                <input data-original-entry="<%= side %>" type="text"
                                                    id="card-side-<%= card.meal_id %>-<%= sideNumber%>"
                                                    class="card-input indent-left" placeholder=" " autocomplete="off"
                                                    data-type="side" value="<%= side %>">
                                                <label for="card-side-<%= card.meal_id %>-<%= sideNumber%>"
                                                    class="card-label indent-left">Side
                                                </label>

                                                <% if ((index==0) ){ %>
                                                    <div class="circle-button" id="add-side-<%= card.meal_id %>">
                                                        <svg fill="red" xmlns="http://www.w3.org/2000/svg" width="24"
                                                            height="24" viewBox="0 0 24 24">
                                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
                                                        </svg>
                                                    </div>

                                                    <% } %>
                                            </div>



                                            <% }) %>
                                                <% } else {%>
                                                    <div class="input-group whole-width close-top-margin">

                                                        <input data-original-entry="" type="text"
                                                            id="card-side-<%= card.meal_id %>-1"
                                                            class="card-input indent-left" placeholder=" "
                                                            autocomplete="off" data-type="side" value="">
                                                        <label for="card-side-<%= card.meal_id %>-1"
                                                            class="card-label indent-left">Side
                                                        </label>
                                                        <div class="circle-button" id="add-side-<%= card.meal_id %>">
                                                            <svg fill="red" xmlns="http://www.w3.org/2000/svg"
                                                                width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
                                                            </svg>
                                                        </div>
                                                    </div>


                                                    <% } %>
                        </div>



                        <div class="input-group notes">
                            <textarea data-original-entry="<%= card.notes %> " name="card-notes-<%= card.meal_id %>"
                                id="card-notes-<%= card.meal_id %>" cols="40" rows="3"
                                id="card-notes-<%= card.meal_id %>" class="card-input textarea-notes"
                                placeholder="Notes" data-type="notes"><%= card.notes %></textarea>
                        </div>
                    </form>
                </div>


                <% }) %>

        </div>




    </div>


    <div class="mobile-menu" id="hamburger-menu">
        <span class="hamburger"> </span>
    </div>
    <ul class="mobile-menu__list" id="mobile-menu__list">
        <li class="mobile-menu__item" id="add-menu-card">Add Card</li>
    </ul>
    <ul class="mobile-menu__list-site" id="mobile-menu__list-site">
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/">Home</a></li>
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/calendar">Calendar</a></li>
    </ul>
    <div class="darken-screen" id="darken-screen"></div>

    <script src="../javascript/frontend/menu/menu.js" defer type="module"></script>

    <%- include('partials/footer.ejs') %>